package settings

templ Error(message string) {
	<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
		{ message }
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>
}
