module goph

go 1.22

require (
	github.com/a-h/templ v0.3.1020
	github.com/go-chi/chi/v5 v5.2.1
	github.com/jackc/pgx/v5 v5.7.2
	github.com/go-chi/httprate v0.14.1
	github.com/golang-jwt/jwt/v5 v5.2.2
	github.com/gorilla/csrf v1.7.2
	github.com/pressly/goose/v3 v3.24.2
	github.com/resendlabs/resend-go v1.7.0
	github.com/uptrace/bun v1.2.11
	github.com/uptrace/bun/dialect/pgdialect v1.2.11
	github.com/uptrace/bun/extra/bundebug v1.2.11
	golang.org/x/crypto v0.33.0
)
